extension/build/
# dependencies
/node_modules
**/node_modules

.history

# testing
/coverage

# production
/extension/build
/app/build
/app


# misc
.DS_Store
**/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/cloud config/RTkey.pem
backend/cloud config/terraform.exe
backend/cloud config/terraform.tfstate
backend/cloud config/terraform.tfvars
backend/cloud config/.terraform

client/dist
client/node_modules